@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    font-family:'Barlow', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#FFFFFF; 

}

h1, h2{
    font-family:'Lexend Deca', sans-serif;
    color:#FFFFFF; 
    color:rgba(0,0,0,0.8); /
    text-align:center;
    letter-spacing:0.1em;
    font-weight:700;
}

h1{
    font-size:4rem;
    display: inline;
    background-color: rgba(229,186,221,0.7);

}

h2{
    padding-top: 1%;
    align-self: center;
    font-size:2rem;
    font-weight: bold;
    letter-spacing:0.2em;
    display: inline-block;
    background-color: rgba(229,186,221,0.7);
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

@media screen and (max-width: 320px){
    h1{ font-size:0.75rem; }
    h2{ font-size:0.1em; }
}


h3{
  font-size: 2rem;
    font-family:'Lexend Deca', sans-serif;
    /*display: none;*/
    text-align:center;
}

h5, h6{
    font-weight:700;
}

a{
    color:rgb(155,0,0);
    text-decoration:none;
}

a:hover{
    color:rgb(255,0,0);
    text-decoration:underline;
}

header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
}

main{
    width:100%;

}
.somos h3{
    font-family:'Lexend Deca', sans-serif;
    color:#FFFFFF;
    color:rgba(0,0,0,0.8);
    text-align:center;
    letter-spacing:0.1em;
    font-weight:700;
}
.trabajos h3{
    font-family:'Lexend Deca', sans-serif;
    margin-top: 0%;
    margin-bottom:3%;
    color:#FFFFFF;
    color:rgba(0,0,0,0.8);
    text-align:center;
    letter-spacing:0.3em;
    font-weight:700;
    display: inherit;
    background-color: #DCD3DA;
    
}




#equipo {
    padding-top: 1%;
    padding-bottom: -10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff ;
    color:rgba(255,255,255,1);
}

#equipo a{
    color:#A4A4A4;
}

#equipo a:hover{
    color:#A4A4A4;
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    font-size: 1.5rem;
    padding: 2rem 2rem 0.25rem 2rem;
    color:#A4A4A4;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:1rem;
    font-style:normal;

}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
    color:#A4A4A4;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:40%;
    }
}



.integrante:nth-of-type(1){
    background-color:#AAF0D8;
    background-image:url('media/integrante-1aa.png');
    background-position: bottom right;
    background-size:auto 75%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:#F4C7E7;
    background-image:url('media/integrante-2aa.png');
    background-position: bottom right;
    background-size:auto 75%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3){
    background:#f9f4a0;
    background-image:url('media/integrante-3aa.png');
    background-position: bottom right;
    background-size:auto 75%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#95F0D1;
    background-image:url('media/integrante-1b.png');
    background-position: bottom right;
    background-size:auto 80%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#FDBBEA;
    background-image:url('media/integrante-2b.png');
    background-position: bottom right;
    background-size:auto 80%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3):hover{
    background:#FAF48C;
    background-image:url('media/integrante-3b.png');
    background-position: bottom right;
    background-size:auto 80%;
    background-repeat: no-repeat;
}



#portafolio{
    width:100%;
    margin-top: 2%;
    padding:0% 0;
    background:linear-gradient(to bottom, #DCD3DA, #DFC4D9);
}

.item {
    width:23%;
    margin:2%;
    color:#333;
    background:#eee;
    box-shadow:0 0 5px rgba(0,0,0,.5);
    border-radius: 20px;

}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#333;
        color:#eee;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
}

@media screen and (max-width: 320px){
    .item{
        width:98%;
        margin:3%;
        background:#000;
        color:#FFF;
   }
}

 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
     border-radius: 20px;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: blur(1rem);
     border-radius: 20px;
}
 .item:hover figure img{
     transform:scale(2);
     filter: blur(0);
     transition:all ease-out 1s;
}
 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;

}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:0.9em;
}
